
/* Your CSS Code here. */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #222;
  color: #fff;
  font-family: sans-serif;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.player {
  max-width: 750px;
  width: 100%;
  background: #333;
  border-radius: 5px;
  overflow: hidden;
}

.viewer {
  width: 100%;
  display: block;
}

.player__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem;
}

.player__button {
  background: #444;
  border: none;
  color: white;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
}

.player__button:hover {
  background: #555;
}

.player__slider {
  cursor: pointer;
}

.progress {
  flex: 1 0 100%;
  background: #555;
  cursor: pointer;
  height: 8px;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 0.4rem;
}

.progress__filled {
  width: 0;
  flex-basis: 0;
  height: 100%;
  background: #f39c12;
  flex: 0;
}
